@tailwind base;
@tailwind components;
@tailwind utilities;


.text-huge{
 font-size: x-large;
}

.line-height{
    line-height: 2rem;
}


.font-italic {
    font-style: italic;
}


.header__navigation{

    padding:1.5rem 2rem;


}


.tns-nav {
    text-align: center;
}

.tns-nav button {
    height: 10px;
    width: 100px;
    background-color: black;
    margin: 0 10px;
    
}


.tns-nav .tns-nav-active {
    background-color: black;
}

.tns-controls {
    position: relative;
}




.tns-controls {
    position: relative;
}

.tns-controls button:first-child{

    position: absolute;
    top:10rem;
     font-size: 2rem;
     z-index: 1;
     left: -2rem;
     margin-top: -3rem;

}

.tns-controls button:last-child{
    font-size: 2rem;
     position: absolute;
     right: -2rem;
     top: 10rem;
     z-index: 1;
     margin-top: -3rem;
   
}



/* .nav{

    font-size: 18px;
    list-style: none;
    top: 100px;
    right: 0;
    padding: 0;
    width: 50px;
    pointer-events: initial;
    margin-right: 1.2rem;
    z-index: -1;
    margin-right: 7rem;

} */

.border{
    border-bottom: 2px solid white;
}

.gradientbottomDark {
    position: absolute;
    width: 100%;
    height: 10rem;
    background-image: linear-gradient(transparent,black );
    bottom: 0;
  }


.nav>ul li{

    line-height: 4rem;
 
}


.icon{
    font-size: 1.5rem;
}



.text-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F1F1F1;
    -webkit-text-fill-color: transparent;
}



.listennow{
    padding: 1.6rem 1.8rem;
    font-size: 14px;
   
    height: 25px;
    border-color: #50A584;
    background-color: #50A584;
    color: #F1F1F1;
    width: 30px; 

}



.v-align-top {
    vertical-align: top;
}
.v-align-top {
    vertical-align: top;
}
.btn-instinct {
    border-color: #50A584;
    background-color: #50A584;
    color: #F1F1F1;
}
.btn-medium {
    font-size: 14px;
    padding: 1.6rem 1.8rem;
    height: 25px;
}
.btn {
    font-size: 16px;
    font-family: "Monument Extended", "Helvetica", Arial, sans-serif;
    font-weight: 400;
    color: #F1F1F1;
    
    border: solid 1px #F1F1F1;
    border-radius: 0;
    padding: 0.6rem 1.5rem 0.5rem;
    transition: color 100ms linear, background-color 100ms linear, border-color 100ms linear;
    cursor: pointer;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    position: relative;
}


.btn-instinct {
    border-color: #50A584;
    background-color: #50A584;
    color: #F1F1F1;
}

.v-align-top {
    vertical-align: top;
}

